<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/socket.io/socket.io.js'></script>
  </head>
  <body>

  <div class="prozor mt-1">

    <div class="dugmadi">
      <button id=<%=id%> onclick="sortirajPoBrojuLajkova(event)" class="btn btn-success">By likes:</button>
      <button id= <%=id + "ids"%> onclick="sortirajPoId(event)" class="btn btn-success">By time:</button>
    </div>
    <div class="prikazPoruka">
       <div class="svePoruke"></div>
    </div>
    <div class="prikazInputa">
      <input type="text" id ="tekstPoruke">
      <input type="submit" id ="submitDugme" value="Send" onclick="posaljiPoruku()">
    </div>
  </div>
  <div class="review">
    <div>
      <h1>Review lecture: </h1>
    </div>
    <div class="reviewButtons">
      <button type="submit" class="breview" value="1"><i class="fa fa-star" aria-hidden="true"></i></button>
      <button type="submit" class="breview" value="2"><i class="fa fa-star" aria-hidden="true"></i></button>
      <button type="submit" class="breview" value="3"><i class="fa fa-star" aria-hidden="true"></i></button>
      <button type="submit" class="breview" value="4"><i class="fa fa-star" aria-hidden="true"></i></button>
      <button type="submit" class="breview" value="5"><i class="fa fa-star" aria-hidden="true"></i></button>
    </div>
  </div>

  <script>

    const socket = io.connect('ws://localhost:3000');
    const svePor = document.querySelector(".svePoruke");

    socket.on("poruka_svima", function(d){
      //console.log(d);
      //
      let tekst = d.tekst;
      let noviDiv = document.createElement('div');
      let poruka = document.createElement('p');
      poruka.innerText = tekst;
      noviDiv.classList.add("oblikPoruke");
      poruka.classList.add("sadrzaj");
      noviDiv.appendChild(poruka);
      let button = document.createElement("button");
      button.innerHTML = `<i class = "fa fa-thumbs-up"></i>${d.broj_lajkova}`;
      button.classList.add('lajk');
      button.id = d.id;
      button.onclick = function klik(){
        socket.emit('like', button.id);
      }


      //document.getElementById(button.id).onclick = povecajBroj(parseInt(button.id));
      //button.onclick = povecajBroj(button.id)
      document.querySelector('.svePoruke').appendChild(button);
      document.querySelector('.svePoruke').appendChild(noviDiv);
      svePor.scrollTop = svePor.scrollHeight - svePor.clientHeight;
    })
    socket.on('sve_poruke', function (d) {
      while(svePor.hasChildNodes()){
        svePor.removeChild(svePor.firstChild);
      }
      for(let i = 0; i < d.length; i++){
        let tekst = d[i].tekst;
        let noviDiv = document.createElement('div');
        noviDiv.classList.add("posebnaPoruka");
        let poruka = document.createElement('p');
        poruka.classList.add("tekstPoruke");
        poruka.innerText = tekst;
        noviDiv.classList.add("oblikPoruke");
        poruka.classList.add("sadrzaj");
        noviDiv.appendChild(poruka);
        let but = document.createElement("button");
        but.innerHTML = `<i class = "fa fa-thumbs-up"></i>${d[i].broj_lajkova}`;
        but.classList.add('lajk');
        but.id = d[i].id;

        but.onclick = function klik(){
          socket.emit('like', but.id);
        }
        //but.onclick = povecajBroj(but.id);
        document.querySelector('.svePoruke').appendChild(but);
        document.querySelector('.svePoruke').appendChild(noviDiv);
      }

      socket.on('likeCount', (d) => {
        console.log(d);
        document.getElementById(d.id).innerHTML = `<i class = "fa fa-thumbs-up"></i>${d.bl}`;
      })



      //svePor.scrollTop = svePor.scrollHeight - svePor.clientHeight;

    });
    function posaljiPoruku(){
      let tekst = document.getElementById("tekstPoruke").value;
      socket.emit("moja_poruka", tekst);
      document.getElementById("tekstPoruke").value = "";
    }

    function sortirajPoBrojuLajkova(event){
      let id = event.target.id;
      socket.emit("po_broju_lajkova", id);
    }
    function sortirajPoId(event){
      let id = (event.target.id).slice(0, -3);
      socket.emit('prvobitni', id);
    }
    let b =  document.querySelectorAll(".breview");

    console.log(b.length)
    for(let i = 0; i < b.length; i++) {
      b[i].addEventListener("click", function (event) {
        socket.emit('review', this.value);
      })
    }

  </script>
  </body>
</html>
